.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.2rem 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(black);
  backdrop-filter: blur(10px);
  z-index: 1000;
  transition: all 0.3s ease;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar.scrolled {
  padding: 0.8rem 5%;
  background: rgba(17, 17, 17, 0.98);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.nav-container {
  width: 100%;
  max-width: 1650px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 
.nav-logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff
}

.logo-text {
  color: #fff;
  transition: color 0.3s ease;
}

.logo-dot {
  color: #6366f1;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-item {
  position: relative;
}

.nav-link {
  color: #e2e8f0;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 0;
  position: relative;
  transition: color 0.3s ease;
  font-size: 25px;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  /* background: linear-gradient(90deg, #6366f1, #8b5cf6); */
  background: white;
  transition: width 0.3s ease;
}

.nav-link:hover {
  color: #fff;
}

.nav-link:hover::after {
  width: 100%;
}

.cta-button {
  background: linear-gradient(90deg, #6366f1, #8b5cf6);
  color: white !important;
  padding: 0.6rem 1.2rem !important;
  border-radius: 6px;
  margin-left: 1rem;
  transition: all 0.3s ease;
}

.cta-button::after {
  display: none;
}

.cta-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(99, 102, 241, 0.3);
  color: white;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background: #fff;
  margin: 3px 0;
  transition: 0.3s;
  border-radius: 2px;
}


@media screen and (max-width: 968px) {
  .hamburger {
    display: flex;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    flex-direction: column;
    background: rgba(17, 17, 17, 0.98);
    backdrop-filter: blur(10px);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    padding: 2rem 0;
    gap: 1.5rem;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 0.5rem 0;
  }

  .cta-button {
    margin: 1rem 0 0 0;
  }

  .nav-link {
    font-size: 18px;
  }
}


.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}